<link rel="stylesheet" href="./styles/categoriesMenu.css" />
<div class="containerMenuCategories">
  <div class="containerMenuCategories_categories">
    <img src="svg/tablet-cellphone.svg" alt="tablet" />
    <p>Electrónica</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/hamburger.svg" alt="hambuergesa" />
    <p>Alimentos</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/glass-mug-variant.svg" alt="mug" />
    <p>Bebidas</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/tshirt-crew.svg" alt="tshirt" />
    <p>Indumentaria</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/controller-classic.svg" alt="controller" />
    <p>Juegos</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/steering.svg" alt="steering" />
    <p>Automotor</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/sofa-single.svg" alt="sofa" />
    <p>Hogar</p>
  </div>
  <div class="divider"></div>
  <div class="containerMenuCategories_categories">
    <img src="svg/gift-outline.svg" alt="gift" />
    <p>Otros</p>
  </div>
</div>
