<footer class="footer">
    <div class="social-media">
        <a href="#"><img src="/svg/twitter.svg" alt="Twitter" /></a>
        <a href="#"><img src="/svg/facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="/svg/instagram.svg" alt="Instagram" /></a>
        <a href="#"><img src="/svg/youtube.svg" alt="Youtube" /></a>
    </div>
    <div class="copyright">
        © Banco Santander S.A. Todos los derechos reservados.
    </div>
    <div class="market">
        <a href="#"
            ><img src="/svg/apple.svg" alt="Logo de Apple" /> App Store</a
        >
        <a href="#"
            ><img src="/svg/google-play.svg" alt="Google Play" /> Google Play</a
        >
    </div>
</footer>
  