<header class="header">
  <a href="/">
    <img src="/svg/santanderLogo.svg" alt="Logo de Santander" class="logo"
  /></a>
  <% if(showBar) { %> <%- include("../partials/atoms/input", {type: "search",
  placeholder: "Buscar productos..."}) %>
  <div class="cart-user">
    <%- include("../partials/atoms/button", {type:"cart"}) %>
    <a href="/login" class="btn-lr">Login</a>
    <a href="/register" class="btn-lr">Registrarse</a>
  </div>
  <% } %>
</header>
