<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Santander SuperClub</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/resets.css" />
  <link rel="stylesheet" href="css/inputs.css" />
  <link rel="stylesheet" href="css/buttons.css" />
  <link rel="stylesheet" href="css/header.css" />
  <link rel="stylesheet" href="css/main-login.css" />
  <link rel="stylesheet" href="css/main-register.css" />
  <link rel="stylesheet" href="css/footer.css" />
</head>
