<a href="/product/<%= id %> " class="productCard">
  <img src="<%= img %>" class="productCardImagen" <% if(id === 1) { %>
  id="hamburguesa" <%} %> >
  <div class="productCard_ContainerInfo">
    <p class="productCard_NameAndValue productCard_ContainerInfo_Name">
      <%= name %>
    </p>
    <div class="productCard_separator"></div>
    <div class="productCard_ContainerInfo_PointAndLegend">
      <p class="productCard_NameAndValue"><%= price %></p>
      <p class="productCard_Legend">PUNTOS SUPERCLUB</p>
    </div>
  </div>
</a>
