<link rel="stylesheet" href="./styles/productCard.css" />
<div class="productCard">
  <img src="<%= image %>" alt="<%= name %>" />
  <div class="productCard_ContainerInfo">
    <p class="productCard_NameAndValue productCard_ContainerInfo_Name">
      <%= name %>
    </p>
    <div class="productCard_separator"></div>
    <div class="productCard_ContainerInfo_PointAndLegend">
      <p class="productCard_NameAndValue"><%= point %></p>
      <p class="productCard_Legend">PUNTOS SUPERCLUB</p>
    </div>
  </div>
</div>
