<link rel="stylesheet" href="/styles/productHero.css" />
<div
  class="containerProductHero"
  style="background-image: url(img/disneybg.jpg)"
>
  <img src="" alt="" />
  <div class="containerText">
    <p>
      <strong> asdklsflfdslk </strong>
      <br />lsmlfdsklmfdsmk
    </p>
  </div>
</div>
