<link rel="stylesheet" href="./styles/productGrup.css" />
<div class="contianerProductGrup">
  <% productos?.forEach(({ name, price, img, id }) => { %> <%-
  include("./productCard.ejs", {name, price, img, id}) %> <% }) %>
</div>
