<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div>
      <%- include('../partials/header', {showBar: false}) %>
      <main class="main">
        <div class="red-rectangle"></div>
        <form action="/" , class="login-container">
          <h2>¡Hola!</h2>
          <input
            type="text"
            placeholder="Tu nombre de usuario"
            name="user_name"
          />
          <input
            type="password"
            placeholder="Tu contraseña"
            name="user_password"
          />
          <button>Iniciar Sesión</button>
        </form>
        <div class="question">
          <a href="/register"
            >¿No tienes cuenta? <span class="underline">Regístrate</span></a
          >
        </div>
      </main>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
