.footer {
  width: 100vw;
  height: 6.4rem;
  color: #999999;
  background-color: var(--gris-claro);
  backdrop-filter: blur(0.4rem);
  padding: 1.6rem 12.8rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid #cccccc;
}

.market,
.market a,
.social-media,
.social-media a {
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market img,
.social-media img {
  filter: invert(62%) sepia(0%) saturate(22%) hue-rotate(147deg) brightness(98%)
    contrast(90%);
}

.social-media {
  gap: 2.3rem;
}

.market a {
  padding: 0 0.8rem;
}
