.header {
    width: 100vw;
    height: 6.4rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(02.4rem);
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.15rem solid var(--gris);
}

.logo {
    height: 2.4rem;
    width: 13.6rem;
    margin-right: 4rem;
}

.cart-user {
    display: flex;
    gap: 0.8rem;
    margin-left: 5.6rem;
}

