input {
  width: auto;
  height: 3.2rem;
  border-radius: 1.6rem;
  color: var(--gris);
  font-family: "Open Sans", sans-serif;
  background: rgba(255, 255, 255, 1);
  border: 0.1rem solid var(--gris);
  padding: 0.8rem 1.6rem;
}

input::placeholder {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--gris);
}

input::-webkit-search-cancel-button {
  display: none;
}

input:focus {
  outline: none;
}

.search-bar {
  width: 100%;
  margin: auto;
  height: 3.2rem;
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  color: rgba(0, 0, 0, 1);
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--gris);
}

.search-bar-input {
  border: 0;
  padding: 0;
  font-size: 1.6rem;
  height: 3rem;
  width: 100%;
  border-radius: 1.6rem;
}

.search-bar-input::placeholder {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--gris);
}

.search-bar-input::-webkit-search-cancel-button {
  display: none;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-btn {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}

.search-bar-btn img {
  filter: invert(47%) sepia(84%) saturate(0%) hue-rotate(189deg) brightness(91%)
    contrast(82%);
  width: 2rem;
  height: 2rem;
}

.search-bar-btn:hover {
  background-color: transparent;
  cursor: pointer;
}
