footer{
    font-size: 24px;
    height: 5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    background-color:rgb(226, 226, 226);
    color: grey;
    white-space:nowrap;
    padding: 0px 16px
}

.red-social{
   margin-right: 8px;
}

.plataforma{
    display: flex;
   
}


.p-app{
    margin-right: 8px;
}

.footer-text{
    margin: auto;
}
