.productHeroGrup {
  height: 280px;
  width: 100%;
  position: relative;
  overflow: visible;
  display: flex;
}

.productHeroGrup::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 150%;
  height: 256px;
  background-color: #ec0000;
  z-index: -1;
}
