.productCard {
    display: flex;
    background-color: white;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 244px;
    height: 328px;
    left: 20px;
    top: 20px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
}

.productCardImagen {
    background-size: cover;
    background-position: left;
    border-radius: 8px;
    width: 228px;
    height: 240px;
}

.productCard_Legend {
    font-size: 8px;
    font-weight: light;
    color: rgba(0, 0, 0, 1);
}

.productCard_NameAndValue {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.productCard_ContainerInfo {
    display: flex;
}

.productCard_ContainerInfo_Name {
    width: 152px;
}

.productCard_separator {
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 80%;
    margin-right: 8px;
    align-self: center;
}

#hamburguesa {
    background-position: center;
    background-size: contain;
    transform: scale(1.4);
    background-repeat: no-repeat;
}
