body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: gainsboro;
}

/* carrito entero */
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: auto;
}

/* titulo carrito*/
.title-cart,
.back-button {
    align-self: flex-start;
    text-decoration: none;
    color: black;
}

/* cada articulo */
.article-cart {
    margin: 10px 0;
    height: 80px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

/* seccion producto */
.product-cart {
    margin-left: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.img-cart {
    height: 64px;
    width: 64px;
    left: 8px;
    top: 8px;
    border-radius: 8px;
}

/* seccion cantidad */
.manage-cart {
    display: flex;
    margin-right: 10px;
    align-items: center;
    margin-right: 8px;
    gap: 10px;
}

.cant-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 32px;
    right: 120px;
    top: calc(50% - 32px / 2);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 16px;
}

.delete-button,
.buy-button {
    width: 78px;
    height: 32px;
    background-color: rgba(73, 79, 81, 1);
    color: white;
    border: none;
    outline: none;
    border-radius: 16px;
}

.edit-cant {
    font-size: 0.5rem;
    background-color: transparent;
    padding: 10px 10px;
    border: none;
    outline: none;
}

.price-cart {
    font-size: 1.4rem;
}

/* footer carrito */
.points-cart,
.buy-button {
    align-self: flex-end;
    margin-right: 10px;
}

.points-cart {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    align-items: flex-end;
    margin: 10px;
}

.link-button {
    text-decoration: none;
    color: white;
}
