.mainHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.homeProduxBox {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
