<div class="containerMenuCategories">
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/tablet-cellphone.svg" alt="tablet" />
    <p>Electrónica</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/hamburger.svg" alt="hambuergesa" />
    <p>Alimentos</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/glass-mug-variant.svg" alt="mug" />
    <p>Bebidas</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/tshirt-crew.svg" alt="tshirt" />
    <p>Indumentaria</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/controller-classic.svg" alt="controller" />
    <p>Juegos</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/steering.svg" alt="steering" />
    <p>Automotor</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/sofa-single.svg" alt="sofa" />
    <p>Hogar</p>
  </a>
  <div class="divider"></div>
  <a href="#" class="containerMenuCategories_categories">
    <img src="/svg/gift-outline.svg" alt="gift" />
    <p>Otros</p>
  </a>
</div>
