
    <div class="modal-error">
        <p class="modal-title">Error</p>
        <p class="modal-text">Ingreso mal su email o usuario. Para recuperar su contraseña seleccione "recuperar contraseña" o vuelva a intentarlo.</p>
        <div class="buttons-modal">
        <button class="modal-grey">volver a intentar</button>
        <button class="modal-red" style="background-color:red;">Recuperar contraseña</button>
        </div>
    </div>
