<header class="header">
  <% if (showSantanderLogo) { %>
  <a href="/">
    <img src="/svg/santanderLogo.svg" alt="Logo de Santander" class="logo" />
    <img
      src="/svg/santanderIso.svg"
      alt="Logo de Santander"
      class="logo-reducido"
    />
  </a>
  <% } else { %>
  <a href="/">
    <img
      src="/svg/santanderLogo.svg"
      alt="Logo de Santander"
      class="logo-sarpado"
    />
  </a>
  <% } %> <% if(showBar) { %> <%- include("../partials/atoms/input", {type:
  "search", placeholder: "Buscar productos..."}) %>
  <div class="cart-user">
    <% if (locals.isLogged) { %> <%- include("../partials/atoms/button",
    {type:"cart", qty: locals.qty}) %> <%- include("../partials/atoms/button",
    {type:"profile", image:"/img/profile-pic.png", name:
    locals.isLogged.usuario}) %> <% } else { %>
    <a href="/login" class="btn-lr">Login</a>
    <a href="/register" class="btn-lr">Registrarse</a>
    <% } %>
  </div>
  <% } %>
</header>
