<section class="menuUserContainer">
  <div class="menuUserProfile">
    <img src="/img/profile-pic.png" alt="olivia" />
    <p><%= locals.isLogged?.usuario %></p>
  </div>
  <div class="menuUserLinks">
    <a href="/" class="inicio">Inicio</a>
    <a href="#" class="miscompras">Mis Compras</a>
    <a href="#" class="favoritos">Favoritos</a>
    <a href="#" class="historial">Historial</a>
  </div>
  <div>
    <div class="toDarkMode">
      <img src="/svg/brightness-4.svg" alt="" />
      <p>Cambiar a Tema Oscuro</p>
    </div>
    <div class="toLightMode">
      <img src="/svg/brightness-7.svg" alt="" />
      <p>Cambiar a Tema Claro</p>
    </div>
  </div>
</section>
