<section class="menuUserContainer" tabindex="1">
  <div class="menuUserProfile">
    <img src="/img/profile-pic.png" alt="usuario" class="menuUserProfilePic" />
    <p><%= locals.isLogged?.usuario %></p>
  </div>
  <div class="menuUserLinks">
    <div id="inicio">Inicio</div>
    <div id="miscompras">Mis Compras</div>
    <div id="favoritos">Favoritos</div>
    <div id="historial">Historial</div>
  </div>
  <div class="menuUserSettings">
    <div class="changeTheme">
      <div class="toDarkMode">
        <img src="/svg/brightness-4.svg" alt="" />
        <p>Cambiar a Tema Oscuro</p>
      </div>

      <div class="toLightMode">
        <img src="/svg/brightness-7.svg" alt="" />
        <p>Cambiar a Tema Claro</p>
      </div>
    </div>
    <div id="logout">
      <img src="/svg/logout.svg" alt="Cerrar Sesión" class="logout-icon" />
      Cerrar Sesión
    </div>
  </div>
</section>

<!-- * Se implementó un cierre de sesión en el menú desplegable -->
