<div class="containerProductGroup">
  <h3><%= title %></h3>
  <% productos.forEach(({ title, price, image, _id}) => { %> <%-
  include("./productCard.ejs", {title, price, image, _id}) %> <% }) %>
</div>
<script>
  function imagenError(source) {
    source.src = 'img/not_found.png'
    source.onerror = ''
    return true
  }
</script>
