<link rel="stylesheet" href="./styles/styles.css" />
<%- include("../partials/categoriesMenu.ejs") %>
<h1>te puede interesar</h1>
<%- include("../partials/productGrup.ejs", { productos: teinteresan}) %>
<h1>Lo mas pedido</h1>
<%- include("../partials/productGrup.ejs", { productos: lomaspedido}) %> <%-
include("../partials/categoriesMenu.ejs") %>
