<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>product</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body class="body">
        <header>Header de Agus</header>
        <section>
            <h3>
                <i class="fas fa-arrow-left"></i>Volver al listado<i
                    class="fas fa-chevron-right"
                ></i
                >alimentos
            </h3>
            <%= id%>
            <div>
                <img class="recortada" width="5%" src="/img/havanna1.jpg" />
                <img class="recortada" width="5%" src="/img/havanna2.jpg" />
                <img class="recortada" width="5%" src="/img/havanna3.webp" />
            </div>
            <div><img src="/img/havanna2.jpg" /></div>
            <h2>
                Alfajores Havanna <br />
                Chocolate 12 Unidades
            </h2>
        </section>
    </body>
</html>
