<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>product</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body class="body">
        <header>Header de Agus</header>
        <div class="ruta">
            <i class="fas fa-arrow-left"></i> Volver al listado
            <i class="fas fa-chevron-right"></i> alimentos
        </div>
        <section class="producto">
            <div class="mini-imgs">
                <img
                    class="recortada"
                    width="48px"
                    height="48px"
                    src="/img/havanna1.jpg"
                />
                <img
                    class="recortada"
                    id="marcada"
                    width="48px"
                    height="48px"
                    src="/img/havanna2.jpg"
                />
                <img
                    class="recortada"
                    width="48px"
                    height="48px"
                    src="/img/havanna3.webp"
                />
            </div>
            <img src="/img/havanna2.jpg" class="imagengrande" />
            <div class="productodescripto">
                <h3 class="nombre">
                    Alfajores Havanna <br />
                    Chocolate 12 Unidades
                </h3>
                <div class="puntoyprecio">
                    <strong class="precio">19.900</strong>
                    <div class="puntos">PUNTOS <br />SUPERCLUB</div>
                </div>
                <div class="carrito">Agregar al Carrito</div>

                <p class="descripcion">
                    Voucher válido para una caja de 12 alfajores mixtos
                    Havanna.<br />
                    Para retirar el producto, sólo tenés que presentar el
                    comprobante del canje en el local. Recordá que tus
                    comprobantes de canje siempre quedan guardados en la opción
                    "Detalle de puntos". <br /><br />

                    El voucher no es válido para delivery pero sí para Take
                    away.<br /><br />
                    No aplica para alfajores sabos "70 Cacao" o "Semilia".<br /><br />
                    Consultá tus locales con take away en
                    https://ticketbox.com.ar/sucursales/havanna.<br /><br />El
                    canje del voucher se encuentra sujeto a disponibilidad del
                    producto en el local. No combinable con otras
                    promociones.<br /><br />Vigencia hasta 28/02/2022 o hasta
                    agotar stock.
                </p>
            </div>
        </section>
        <section>
            <h2>Tambien te puede interesar</h2>
        </section>
    </body>
</html>
