<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <div>
        <%- include("../partials/header.ejs", {showBar:false}) %> 
        <main>
            <div class="red"></div>
            <div class="register">
                <h1>¡Registrate!</h1>
                <form action="/">
                    <input  class="register-input" type="text" name="usuario" placeholder="Tu nombre"></input>
                    <input  class="register-input" type="email" name="email" placeholder="Tu email"></input>
                    <input  class="register-input" type="password" name="password" placeholder="Tu contraseña"></input>
                    <button class="register-button" type="submit">Crear cuenta</button>
                </form>
            </div>
            <a href="/login"><p class="texto-register">¿Ya tienes cuenta? <span class="underline">Inicia Sesión</span></p></a>
        </main>
    </div>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>