<% if(type === "profile") { %>
<button class="button-profile">
  <img src="<%= image %> " alt="Imagen de perfil" class="profile-pic" />
  <%= name %>
</button>
<% } else if (type === "user") { %>
<button class="button-user"><%= name %></button>
<% } else if (type === "normal") { %>
<button class="button" type="submit"><%= name %></button>
<% } %> 